@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400&f[]=cabinet-grotesk@300&display=swap');


/*Light And Dark Mode*/
[colour-theme="dark"] {
    --code-block-colour: #d04949;
    --background-colour: rgb(147, 147, 147);
    --inline-code-colour: white;
    --inline-code-background: black;
}

[colour-theme="light"] {
--code-block-colour: #f7df1e;
--background-colour: white;
--inline-code-colour: black;
--inline-code-background: #FDF6E3;
}


*{
    padding:0;
    margin: 0 auto;
    font-family: 'General Sans', sans-serif;
    width: 1200px;
    /*border: 1px solid red;*/


}
body{
    background-color: var(--background-colour);
}





/*Properties for code block*/
.grvsc-container{
    width:  600px;
    margin-top: 0rem; 
    margin-bottom: 1rem; 
    /*overflow: hidden !important;*/

}
.grvsc-container code{
    width: 600px;
}
.grvsc-line-number {
    width: 0px;
}
.grvsc-gutter-pad{
    width: 0px;
    height: 0px;
}

/*Styling for the langauge in the code block*/
.grvsc-code{
    position: relative;
}
.grvsc-container::before {
    width: 100%;
    content: 'ss';
    position: absolute;
    top: -10px;
    background: var(--code-block-colour);
    background-color: #f7df1e;
    transform: translate(0,-23px);
    right: 0;
    left: 0;
    text-align:justify;
    z-index: 1000;
}




:root{
    /*--grvsc-padding-right: 10px;*/
    --grvsc-border-radius: 10px;
    --grvsc-padding-top: 2rem;
}



.custom-inline-code{
    background-color: var(--inline-code-background) !important;
    border-radius: 0.5rem;
}
.custom-inline-code span{
  color:var(--inline-code-colour) !important;
}

/*dark mode button style*/
.dark-mode-button{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: fit-content; 
    z-index: 100;
}



