@import url('https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,700&f[]=bespoke-serif@400,700,800,300,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


/*Light And Dark Mode*/
[colour-theme="dark"] {
    --code-block-colour: #3B2E58;
    --background-colour: #242525;
    --inline-code-colour: #C4BDB3;
    --inline-code-background: #002B36;
    --paragraph-text-colour: #C4BDB3;
    --header-text-colour: #E3DBCF; 
    --scroll-bar-track-colour: #2b2d2d;
    --scroll-bar-colour: #4c4c4c;
    --scroll-bar-hover-colour: #777;
    --contact-me-icon-colour: #E3DBCF;
    --footer-background-colour: #7777;
    --header-colour: #777777;
    --dividing-bar-colour: #7777;
    --dark-mode-button-background-colour: #7777; 
    --dark-mode-button-colour: white; 
    --left-circle-dark-mode-background-colour: transparent;
    --right-circle-dark-mode-background-colour: white;
}
[colour-theme="light"] {
    --code-block-colour: #f7df1e;
    --background-colour: white;
    --inline-code-colour: #373737;
    --inline-code-background: #FDF6E3;
    --paragraph-text-colour: #373737;
    --header-text-colour: black;
    --scroll-bar-colour: #777777;
    --scroll-bar-hover-colour: #4c4c4c;
    --scroll-bar-track-colour: #C3C6C6;
    --contact-me-icon-colour: white;
    --footer-background-colour: #bbbbbb98;
    --header-colour: #373737;
    --dividing-bar-colour: #EEEEEE;
    --dark-mode-button-colour: white; 
    --dark-mode-button-background-colour: #bbbbbb98;
    --left-circle-dark-mode-background-colour: #777777;
    --right-circle-dark-mode-background-colour: transparent;
}



:root{
    --grvsc-border-radius: 10px;
    --grvsc-padding-top: 2rem;
    --grvsc-padding-bottom: 0rem;
    --dark-button-scale: 0.7;
}


/*Central column style*/
.flex-box {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Corrected typo */
}

.content-column {
    font-family: "General Sans", sans-serif;
    font-size: 1rem;
    max-width: calc(70ch + 2 * 200px * var(--dark-button-scale));
    width:100%;
    padding-inline: calc(200px*var(--dark-button-scale) + 0.8rem);
    box-sizing: border-box; 
    overflow-wrap: break-word;
    flex-shrink: 1; 
    position: relative;
}
*{
    padding:0;
    /*border: 1px solid red;*/
    margin: 0 auto;
    
}

@media (max-width: 650px) {
    .content-column{
        max-width: calc(35ch + 2 *(100px * var(--dark-button-scale)));
        padding-inline: calc(100px*var(--dark-button-scale) + 0.8rem); 
    }
}

html{
    font-size: 1rem;
}

body{
    background-color: var(--background-colour)!important;
    color: var(--paragraph-text-colour)!important;
    line-height: 1.75!important;
    
}

main{
    flex: 1 0 auto; /*flex-grow:1 , flex-shrink: 0, flex-basis: auto*/
}

/* Underline stlye */
body a{
    white-space: nowrap;
    text-decoration: none;
}

body a::after{
    margin: -3px 0;
    content: '';
    width: 0%;
    height: 2px;
    background: currentColor; 
    transition: width 0.5s;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); 
    border-radius: 10px;
}

body a:hover::after{
    width: 100%;
}
body p{
    padding: 0.5rem 0px;
}

/*Header style*/
.banner-style {
    text-align: center;
    position: relative;
}

.banner-style h1{
    font-family: 'Bespoke Serif', serif;
    color: var(--header-colour);
    font-weight: 300;
    font-size:2.618rem;
}

.banner-style::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--dividing-bar-colour);
    border-radius: 10px;

}


.banner-style a::after{
    background-color: #f5333f;
    height: 2px;
    margin: 0px 0px;
    z-index: 2;
} 

/*Footer Style*/
footer{
    
    background-color: var(--footer-background-colour);
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

footer a{
    flex: 0 0 auto;
    margin: 0.5rem 0;

}

footer a::after{
    display: none;
}

footer svg:hover{
    fill: #1188A0;
}

footer svg {
    max-width: 50px;
    max-height: 50px;
    fill: var(--contact-me-icon-colour); /* Ensure this variable is defined */
    position: relative; /* Essential for positioning of ::after */
}

 
/*Dark mode button style*/
 .dark-mode-button {
    position: sticky;
    right: 0;
    bottom: 0.5rem;
    z-index: 2;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    fill: var(--dark-mode-button-colour);
    margin-left: auto; 
    margin-right: 0.6rem;   
} 

 .dark-mode-button span {
    position: relative;
    display: flex;
    background-color: var(--dark-mode-button-background-colour);
    border-radius: calc(50px*var(--dark-button-scale));
    width: calc(200px*var(--dark-button-scale));
    height: calc(100px*var(--dark-button-scale));
    justify-content: center;
    align-items: center;
} 

 .moon-button, .sun-button {
    flex: 1;
    margin: 5px 5px;
    max-width: 100%;
    max-height: 100%;
    stroke: var(--dark-mode-button-colour);
}

.sun-button {
    fill: var(--dark-mode-button-colour);
} 

 .circle-left, .circle-right {
    position: absolute;
    border-radius: 100%;
    width: calc(92px*var(--dark-button-scale));
    height: calc(92px*var(--dark-button-scale));
}

.circle-left {
    left: calc(50px*var(--dark-button-scale) - calc(46px*var(--dark-button-scale)));
    background-color: var(--left-circle-dark-mode-background-colour);
}

.circle-right {
    right: calc(50px*var(--dark-button-scale) - calc(46px*var(--dark-button-scale)));
    background-color: var(--right-circle-dark-mode-background-colour);
} 

/* Media query adjust so that it rotated 90 degrees for smaller screen*/
 @media (max-width: 650px) {
    .dark-mode-button span {
        flex-direction: column;
        width: calc(100px*var(--dark-button-scale));
        height: calc(200px*var(--dark-button-scale));
    }
    .circle-left {
        top:  calc(50px*var(--dark-button-scale) - calc(46px*var(--dark-button-scale)));
        background-color: var(--left-circle-dark-mode-background-colour);
    }
    
    .circle-right {
        bottom: calc(50px*var(--dark-button-scale) - calc(46px*var(--dark-button-scale)));
        background-color: var(--right-circle-dark-mode-background-colour);
    }
}

@media (max-width: 400px) {
    :root {
        --dark-button-scale: 0.3;
    }
}


:root[colour-theme='dark'] .dark-mode-button:hover .sun-button{
    animation: rotate-sun 8s linear infinite;

}
:root[colour-theme='dark'] .dark-mode-button:hover .sun-button{
    transition: transform 0.5 linear;
}


@keyframes rotate-sun {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

:root[colour-theme='light'] .dark-mode-button:hover .moon-button{
    animation: rotate-moon 3s linear infinite;
}

@keyframes rotate-moon {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
} 


/*Scroll bar style for Chrome and Edge*/
::-webkit-scrollbar {
    width: 0.5rem; 
    height: 0.5rem;
}

::-webkit-scrollbar-track:vertical{
    background-color: var(--scroll-bar-track-colour);

}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-colour); 
    border-radius: 9999px; 
    height: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-bar-hover-colour);
}

/*Properties for code fence*/
.grvsc-container{
    margin-top: 0rem; 
    margin-bottom: 1rem; 
    font-family: 'Source Code Pro', monospace;
}

.grvsc-container code{
    width: 100%;
}

.grvsc-line-number {
    width: 0px;
    
}

.grvsc-gutter-pad{
    width: 0px;
    display: none;
}

.custom-inline-code{
    background-color: var(--inline-code-background) !important;
    border-radius: 0.5rem;
    padding: 0 0.2rem;
}

.custom-inline-code span{
  color:var(--inline-code-colour) !important;
  font-family: 'General Sans';
  font-size: 1rem;
}

span.gatsby-resp-image-wrapper {
    padding: 10px 0;
}

a.gatsby-resp-image-link{
    border: var(--dividing-bar-colour) 3px solid;
    border-radius: 3px;

}

a.gatsby-resp-image-link:hover{
    border-color: #1188A0;
    transition: border-color;
    transition-duration: 0.5s;
}
a.gatsby-resp-image-link:after{
    display: none;

}

/*Video embed*/
.container{
    padding-left: 0!important;
    padding-right: 0!important;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

