@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400&f[]=cabinet-grotesk@300&display=swap');



*{
    padding:0;
    margin: 0 auto;
    font-family: 'General Sans', sans-serif;
    /*border: 1px solid red;*/
}



/*Light And Dark Mode*/
[colour-theme="dark"] {
    --code-block-colour: #d04949;
    --background-colour: rgb(147, 147, 147);
    --inline-code-colour: white;
    --inline-code-background: black;
    --dark-mode-button-colour: rgb(93, 164, 159); 

}
[colour-theme="light"] {
--code-block-colour: #f7df1e;
--background-colour: white;
--inline-code-colour: black;
--inline-code-background: #FDF6E3;
--dark-mode-button-colour: rgb(130, 130, 130); 
}



/*dark mode button style*/
.dark-mode-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    background-image: url(../assets/darkModeSun.svg);
    width: 5rem; 
    height: 5rem; 
    background-color: transparent;
    cursor: pointer;
    transition:  transform 0.3s;
    transition-timing-function: ease-out;
}
.dark-mode-button:hover {
    transform: scale(1.2);
}
.test-style{
    stroke: var(--dark-mode-button-colour);

}

/*
.grvsc-container[data-language]::before{
    content: attr(data-language);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #f7df1e;
}
*/



body{
    background-color: var(--background-colour);
    width: 1200px;

}





/*Properties for code block*/
.grvsc-container{
    width:  600px;
    margin-top: 0rem; 
    margin-bottom: 1rem; 
}



.grvsc-container code{
    width: 600px;
}
.grvsc-line-number {
    width: 0px;
}
.grvsc-gutter-pad{
    width: 0px;
}
:root{
    --grvsc-border-radius: 10px;
    --grvsc-padding-top: 2rem;
    --grvsc-padding-bottom: 0rem;
}



.custom-inline-code{
    background-color: var(--inline-code-background) !important;
    border-radius: 0.5rem;
}
.custom-inline-code span{
  color:var(--inline-code-colour) !important;
}





