.header{
    align-items: center;
}

.header a {
    color: #1188A0;
    position: relative; /* Necessary for positioning the pseudo-element */
}

.header li{
    list-style-type: none;
}

.header h2{
    font-size: 4.236rem;
    font-family: 'Bespoke Serif', serif;
    font-weight:900;
    color:var(--header-text-colour);
    overflow-wrap: normal;
}
@media (max-width: 650px){
    .header h2{
        font-size: 3.157rem;

    }
}

.date{
    color: #aaa;
}



