.header{
    align-items: center;
    
}

/*Golden Ratio with a body size of 12*/
.header h1{
    font-size: 11.089rem;
}

.header h2{
    font-size: 6.854rem;
}
.header h3{
    font-size: 4.236rem;
}



.header a{
    color: darkorange;
    text-decoration: none;

}

.test{
    position: relative;
    transform: translate(0,20px);
    background-color: var(--code-block-colour);
    width:  600px;
    z-index: 10;
    border-top-left-radius: var(--grvsc-border-radius);   
    border-top-right-radius: var(--grvsc-border-radius);  
    text-align: center;
    left: 0;


}



.test a{
    color: grey;
}

.headerNav{
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 1rem;
    padding-top: 1rem;
}
.headerNav a{
    text-decoration: none;
    color: (var(--code-block-colour));
}

.depth2{
    list-style-type: none;
}
.depth3{
    margin-left: 1rem;
    list-style-type: none;

}







::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar if needed */
}

::-webkit-scrollbar-track {
    background: #333; /* Dark background for the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Darker color for the scrollbar thumb */
    border-radius: 6px; /* Optional: Rounds the corners of the scrollbar thumb */
}

/* Optional: Change thumb color when hovered or active */
::-webkit-scrollbar-thumb:hover {
    background: #777;
}